{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent()}}
    <link href={{ app.request.schemeAndHttpHost ~ asset('css/tableauquestion.css') }} rel="stylesheet" >

    <link href={{  app.request.scheme ~ '://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css'  }} rel="stylesheet" id="bootstrap-css">
{% endblock %}

{% block body %}

    <div class="breadcrumb-area">
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center"
             style="background-image: url({{ app.request.schemeAndHttpHost ~ asset('img/bg-img/24.jpg')}});">

            <h2></h2>

        </div>
    </div>


    <section class="alazea-blog-area mb-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="row">

                        <!-- Single Blog Post Area -->
                        <div class="col-12 col-lg-6">
                            <div class="single-blog-post mb-50">


                                <div class="col-12">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> accueil de forum</a></li>

                                        </ol>
                                    </nav>
                                </div>




                                <!------ Include the above in your HEAD tag ---------->

                                <div class="container">
                                    <h3>Cliquer sur l'icone(<i class="glyphicon glyphicon-filter"></i>) pour chercher les questions <small></small></h3>
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="panel panel-success">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">liste des questions:</h3>
                                                    <div class="pull-right">
                                                        <h3 class="fa fa-print"  style="margin-top: -0.1em; margin-left: -10em; position: absolute"><a href="{{path('listeQuestionpdf')}}"> telecharger cette page </a> </h3>
                                                        <span class="clickable filter"  title="Toggle table filter" data-container="body">



								<i class="glyphicon glyphicon-filter"></i>
							</span>
                                                    </div>
                                                </div>
                                                <div class="panel-body" style="display: none">
                                                    <input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filtrer les questions" />
                                                </div>
                                                <table class="table table-hover" id="task-table">
                                                    <thead>
                                                    <tr>
                                                        <th>numero</th>
                                                        <th>Titre Question(cliquer pour afficher listes des commentaires)</th>
                                                        <th>date </th>


                                                        <th>Nom d'utilisateur</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for list in listeQuestion %}
                                                    <tr>
                                                        <div class="post-meta">
                                                        <td>{{ list.id }}</td>


                                                            {% if list != null %}
                                                        <td><a href="{{ path('affichereponse' ,{'id':list.id},{}) }}">{{ list.titreQuestion }}</a></td>
                                                    {% else %}
                                                        <td><a href="#">{{ list.titreQuestion }}</a></td>
                                                            {% endif %}
                                                         <td><label style="font-size: 12px" class="fa fa-clock-o" aria-hidden="true"  >{{list.datequestion | date }} </label></td>

                                                            <td>  <a href="#"><i class="fa fa-user" aria-hidden="true"></i>  {{ list.user }}</a>   </td>
                                                        </div>

                                                        <td>
                                                            <div> <a href="{{ path('ajoutReponse' ,{'id':list.id}) }}">    <button type="button" class="btn btn-success">commenter</button>   </a>
                                                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                            {% if (app.user.username==list.user )%}
                                                                <a href="{{ path('updatequestion',{'id':list.id}) }}">    <button type="button" class="btn btn-success">modifier</button>   </a>
                                                                <a href="{{ path('deletequestion',{'id':list.id}) }}" onclick="return confirm('Voulez vous vraiment supprimer cette question ?');">    <button type="button" class="btn btn-success">supprimer</button>   </a>
                                                            </div>
                                                            {% endif %}
                                                        {% endif %}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>









                                    <br>

                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src={{ app.request.schemeAndHttpHost ~ asset('js/tableauquestion.js') }} ></script>
{% endblock %}